mods/\[Boss, Gen\] L Enders Cataclysm 3.16.jar
mods/Eternal Tales \[v1.7.11\] \[Forge 1.20.1\].jar
removed/\[SPD\] Advent of Ascension 3.7.1.jar
removed/Mythos Domain 1.0.0.mrpack
removed/Homie Hardcore 1.0.0.mrpack
removed/AoA3-1.20.1-3.7.1-all.jar.disabled
