# File Specification: https://gist.github.com/Shadows-of-Fire/88ac714a758636c57a52e32ace5474c1

# Apotheosis Adventure Module Config

affixes {
    # A list of type overrides for the affix loot system.  Format is <itemname>|chance|<type>.
    # Valid types are: none, sword, trident, shield, heavy_weapon, pickaxe, shovel, crossbow, bow
    # Default: [minecraft:iron_sword|sword], [minecraft:shulker_shell|none]
    S:"Equipment Type Overrides" <
        minecraft:iron_sword|sword
        minecraft:shulker_shell|none
     >

    # The chance that a naturally spawned mob will be granted an affix item. 0 = 0%, 1 = 100%
    # Default: 0.075; Range: [0.0 ~ 1.0]
    S:"Random Affix Chance"=0.1

    # The chance that a mob will drop a gem. 0 = 0%, 1 = 100%
    # Default: 0.045; Range: [0.0 ~ 1.0]
    S:"Gem Drop Chance"=0.05

    # The flat bonus chance that bosses have to drop a gem, added to Gem Drop Chance. 0 = 0%, 1 = 100%
    # Default: 0.33; Range: [0.0 ~ 1.0]
    S:"Gem Boss Bonus"=0.4

    # If affixes that cleave can hit players (excluding the user).
    # Default: false
    B:"Cleave Players"=false

    # Loot Rules, in the form of Loot Table Matchers, permitting affix items to spawn in loot tables.
    # The format for these is domain:pattern|chance and domain is optional.  Domain is a modid, pattern is a regex string, and chance is a float 0..1 chance for the item to spawn in any matched tables.
    # If you omit the domain, the format is pattern|chance, and the matcher will run for all domains.
    # The pattern MUST be a valid regex string, and should match the paths of desired loot tables under the specified domain.  Note: "Match Any Character" is ".*" (dot star) and not "*" (star).
    # If there is a match, an item has a chance to spawn in that loot table.
    # Default: [minecraft:chests.*|0.35], [.*chests.*|0.3], [twilightforest:structures.*|0.3]
    S:"Affix Item Loot Rules" <
        minecraft:chests.*|0.35
        .*chests.*|0.3
        twilightforest:structures.*|0.3
     >

    # Loot Rules, in the form of Loot Table Matchers, permitting affixes to be added to any valid item. Here, the chance refers to the chance an item receives affixes. See comment on "Affix Item Loot Rules" for description.
    # Default: [.*blocks.*|0], [.*|0.35]
    S:"Affix Convert Loot Rules" <
        .*blocks.*|0
        .*|0.35
     >

    # Dimensional rarities for affix conversion (see "Affix Convert Loot Rules"), in the form of dimension|min|max. A dimension not listed uses all rarities.
    # Default: [overworld|common|rare], [the_nether|uncommon|epic], [the_end|rare|mythic], [twilightforest:twilight_forest|uncommon|epic]
    S:"Affix Convert Rarities" <
        ad_astra:earth_orbit|common|common
        ad_astra:glacio_orbit|common|common
        ad_astra:mars_orbit|common|common
        ad_astra:mercury_orbit|common|common
        ad_astra:moon_orbit|common|common
        ad_astra:venus_orbit|common|common
        arphex:the_webrooms|common|common
        dimdoors:dungeon_pockets|common|rare
        dimdoors:limbo|common|common
        dimdoors:personal_pockets|common|common
        dimdoors:public_pockets|common|common

        minecraft:the_end|common|common
        astral_dimension:astral_dimension|rare|rare
        astral_dimension:setback|rare|mythic
        graveyard:past|common|common
        divinerpg:vethea|mythic|mythic

        ror:the_factory|common|common


        voidscape:void|common|common
        ror:cyberland|common|common
        ror:prismacon|common|common
        shadowlands:vellium|common|common
        aether:the_aether|common|common
        minecraft:overworld|common|common
        ror:flowerbed|common|common
        infinite_abyss:fourth_layer|common|common
        shadowlands:glowshroom_forest|common|common
        infinite_abyss:fifth_layer|common|common
        atlantis:atlantis|common|common
        oceanworld:deepsea|common|common
        infinite_abyss:first_layer|common|common
        infinite_abyss:sixth_layer|common|common
        infinite_abyss:second_layer|common|common
        shadowlands:blood_forest|common|common
        minecraft:the_nether|common|common
        ror:neon_city|common|common
        shadowlands:shadow_forest|common|common
        deeperdarker:otherside|common|common
        infinite_abyss:seventh_layer|common|common
        arphex:the_crawling|common|common
        echoes:the_void|common|common

        ad_astra:glacio|common|common
        ad_astra:mars|common|common
        ad_astra:mercury|common|common
        ad_astra:moon|common|common
        ad_astra:venus|common|common
        asoteria:asoteria|common|common
        divinerpg:apalachia|common|common
        divinerpg:arcana|common|common
        divinerpg:eden|common|common
        divinerpg:iceika|common|common
        divinerpg:mortum|common|common
        divinerpg:skythern|common|common
        divinerpg:wildwood|common|common
        eternal_tales:comets|common|common
        eternal_tales:gardens_of_eden|common|common
        eternal_tales:kingdom_of_amber|common|common
        eternal_tales:lands_of_karvat|common|common
        eternal_tales:purgatorium|common|common
        eternal_tales:rayana|common|common
        eternal_tales:ultimate_world|common|common
        eternal_tales:unahzaal_multiverse|common|common
        eternal_tales:volcanech|common|common
        gaiadimension:gaia_dimension|common|common
        jitl:boil|common|common
        jitl:cloudia|common|common
        jitl:corba|common|common
        jitl:depths|common|common
        jitl:euca|common|common
        jitl:frozen|common|common
        jitl:senterian|common|common
        jitl:terrania|common|common
        luminous_depths:luminous_depths|common|common
        midnight:the_midnight|common|common
        sweet_calamity:sweet_lands|common|common
        the_afterdark:afterdark|common|common
        the_bumblezone:the_bumblezone|common|common
        the_deep_void:deep_void|common|common
        toybox:toybox|common|common
        undergarden:undergarden|common|common
        valoria:the_valoria|common|common

     >

    # If Quark's Attribute Tooltip handling is disabled for affix items
    # Default: true
    B:"Disable Quark Tooltips for Affix Items"=true

    # The item that will be used when attempting to place torches with the torch placer affix.  Must be a valid item that places a block on right click.
    # Default: minecraft:torch
    S:"Torch Placement Item"=minecraft:torch
}


gems {
    # Loot Rules, in the form of Loot Table Matchers, permitting gems to spawn in loot tables.  See comment on "Affix Item Loot Rules" for description.
    # Default: [minecraft:chests.*|0.25], [.*chests.*|0.20], [twilightforest:structures.*|0.20]
    S:"Gem Loot Rules" <
        minecraft:chests.*|0.25
        .*chests.*|0.20
        twilightforest:structures.*|0.20
     >

    # Dimensional rarities for gem drops, in the form of dimension|min|max. A dimension not listed uses all rarities.
    # Default: [overworld|common|mythic], [the_nether|uncommon|mythic], [the_end|rare|mythic], [twilightforest:twilight_forest|uncommon|mythic]
    S:"Gem Dimensional Rarities" <
        overworld|common|common
        the_nether|rare|epic
        the_end|rare|epic
        aether:the_aether|uncommon|rare
        arphex:the_crawling|common|common
        astral_dimension:astral_dimension|common|common
        astral_dimension:setback|common|common
        atlantis:atlantis|common|common
        blue_skies:everbright|common|common
        blue_skies:everdawn|common|common
        deeperdarker:otherside|common|common
        dimdoors:dungeon_pockets|common|common
        dimdungeons:dungeon_dimension|common|common
        divinerpg:apalachia|common|common
        divinerpg:arcana|common|common
        divinerpg:eden|common|common
        divinerpg:iceika|common|common
        divinerpg:mortum|common|common
        divinerpg:skythern|common|common
        divinerpg:vethea|common|common
        divinerpg:wildwood|common|common
        echoes:the_void|common|common
        graveyard:past|common|common
        infinite_abyss:first_layer|common|common
        infinite_abyss:second_layer|common|common
        infinite_abyss:fourth_layer|common|common
        infinite_abyss:fifth_layer|common|common
        infinite_abyss:sixth_layer|common|common
        infinite_abyss:seventh_layer|common|common
        ror:cyberland|common|common
        ror:flowerbed|common|common
        ror:neon_city|common|common
        ror:prismacon|common|common
        ror:the_factory|common|common
        shadowlands:blood_forest|common|common
        shadowlands:glowshroom_forest|common|common
        shadowlands:shadow_forest|common|common
        shadowlands:vellium|common|common
        the_bumblezone:the_bumblezone|common|common
        toybox:toybox|common|common
        twilightforest:twilight_forest|uncommon|rare
        undergarden:undergarden|common|common
        voidscape:void|common|common
     >
}


bosses {
    # If boss items are always cursed.  Enable this if you want bosses to be less overpowered by always giving them a negative effect.
    # Default: false
    B:"Curse Boss Items"=false

    # The range at which boss spawns will be announced.  If you are closer than this number of blocks (ignoring y-level), you will receive the announcement.
    # Default: 96.0; Range: [0.0 ~ 1024.0]
    S:"Boss Announce Range"=96.0

    # The volume of the boss announcement sound. 0 to disable. This control is clientside.
    # Default: 0.75; Range: [0.0 ~ 1.0]
    S:"Boss Announce Volume"=0.75

    # If the boss announcement range ignores y-level.
    # Default: false
    B:"Boss Announce Ignore Y"=true

    # The time, in ticks, that must pass between any two natural boss spawns in a single dimension.
    # Default: 3600; Range: [0 ~ 720000]
    I:"Boss Spawn Cooldown"=10000

    # If true, invading bosses will automatically target the closest player.
    # Default: false
    B:"Boss Auto-Aggro"=true

    # If true, bosses will glow when they spawn.
    # Default: true
    B:"Boss Glowing On Spawn"=true

    # Dimensions where bosses can spawn naturally, spawn chance, and spawn rules.
    # Format is dimname|chance|rule, chance is a float from 0..1.
    # Valid rules are visible here https://github.com/Shadows-of-Fire/Apotheosis/blob/1.19/src/main/java/shadows/apotheosis/adventure/boss/BossEvents.java#L174C27-L174C27
    # Default: [minecraft:overworld|0.018|NEEDS_SKY], [minecraft:the_nether|0.025|ANY], [minecraft:the_end|0.018|SURFACE_OUTER_END], [twilightforest:twilight_forest|0.05|NEEDS_SURFACE]
    S:"Boss Spawn Dimensions" <
        minecraft:overworld|0.018|NEEDS_SKY
        minecraft:the_nether|0.025|ANY
        minecraft:the_end|0.018|SURFACE_OUTER_END
        twilightforest:twilight_forest|0.05|NEEDS_SURFACE
     >

    # List of sound effects to play when boss spawns are announced. This control is clientside.
    # Default: [block.end_portal.spawn]
    S:"Boss Announce Sounds" <
        block.end_portal.spawn
     >
}


worldgen {
    # The dimensions that the deadly module will generate in.
    # Default: [overworld]
    S:"Generation Dimension Whitelist" <
        overworld
     >
}


spawners {
    # The chance that a Rogue Spawner has a "valuable" chest instead of a standard one. 0 = 0%, 1 = 100%
    # Default: 0.11; Range: [0.0 ~ 1.0]
    S:"Spawner Value Chance"=0.11
}


